body {
  font-family: sans-serif;
  color: #aaa;
}

.cover {
  display: flex;
  flex-direction: column;
  height: 95vh;
  max-height: 95vh;
  padding: 1rem;
}

.cover > * {
  margin-block: 1rem;
}

.cover > :first-child:not(h1) {
  margin-block-start: 0;
  text-align: center;
  font-size: 3vw;
}

.cover > :last-child:not(h1) {
  margin-block-end: 0;
  text-align: center;
  font-size: 3vw;
}

.cover > h1 {
  margin-block: auto;
  font-size: 25vh;
  text-align: center;
}

.cover > #log {
  margin-block: auto;
  font-size: 1.2rem;
  overflow-y: scroll;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

li {
  margin-bottom: 0.75em;
  line-height: 1.3em;
}

.cover > div#about {
  margin-block: auto;
  font-size: 1.2rem;
  overflow-y: scroll;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3em;
}

@media (prefers-color-scheme: light) {
  body {
    color: #555;
  }
}

@media (max-width: 499px) {
  .cover > :first-child:not(h1),
  .cover > :last-child:not(h1) {
    font-size: 2rem;
  }
}
